   body {
  background-color: gray; 
  background-size: 100%;
}

header img{
  width: 95%;
  height: 150px;
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 0px;

}

header p {
  text-align: center;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  margin-bottom: 0px;
  background-color: black;
  padding: 10px;
  border-radius: 0px;
}

header a {
  color: #81F7F3;
}

aside {text-align-last: : right}

h1 {
  padding: 10px;
  border-radius: 10px;
  border-color: #D8D8D8;
  background-color: black;
  letter-spacing: 1.5px;
  font-weight: bold;
  margin-left: 225px;
  margin-right: 25px;  
  color: #FFFF00;
}

h2 {
  padding: 10px;
  border-radius: 10px;
  border-color: #D8D8D8;
  background-color: black;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: #FFFF00;
  margin-left: 225px;
  margin-right: 25px;  
  margin-top: 50px;
}

h3 {
  padding: 10px;
  border-radius: 10px;
  border-color: #D8D8D8;
  background-color: black;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: #FFFF00;
  margin-left: 225px;
  margin-right: 25px;
}
p {
  padding: 10px;
  border-radius: 10px;
  border-color: #D8D8D8;
  background-color: black;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-family: times;
  color: #FFFF00;
  text-aling: center;
  margin-left: 225px;
  margin-right: 25px;
}

p:hover {  transform: scale(1.1);
  }

 img {
  margin-top: 30px;
  margin-bottom: 10px;
  margin: 20px;
  margin-right:10px;
  width:300px;
  height:250px;
  align-self: center;
}

/*Musica*/

table {

  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBUy8K-2wzkkz2pXViC8OODamuv3mRGYDs_Ov6K4aFR3A1nnkvRw');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  border-style: solid;
  border-radius: 20px;
  padding: 2px;
  border-color: #2E2E2E;
  margin-left: 10px;
  letter-spacing: 1.5px;
}

select {
  background-color: black;
  color: #FFFF00; 
}

/*Index*/
a {
  color: #FFFF00;
}

.idc-box {

  position: fixed;
  margin-left: : -50px;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: block; 
  border-style: solid;
  border-radius: 20px;
  padding: 2px;
  border-color: #2E2E2E;
  margin-left: 0px;
  position: fixed;
}

.idc-box ul {
  margin-left: -20px;
  margin-right: 5px;
}

.idc-box ul a {
  color: #81F7F3;
}

.Lateral-Box {
  margin-top: 12%;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: block; 
  border-style: solid;
  border-radius: 20px;
  padding: 2px;
  border-color: #2E2E2E;
  margin-left: 0px;
  position: fixed;
  top: 20px;
  margin-left: : -50px;
}

.idc-titulo {
  margin-left: 20px; 
}

/*Radio*/

.radio iframe {
  background-image: url('../img/download.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  border-style: solid;
  padding: 20px;
  border-radius: 10px;
  margin-right: 500px;
  border-color: #2E2E2E;
  margin-bottom: 25px;
  margin-left: 225px;
}

/*Gallery*/

h4 {
  letter-spacing: 1.5px;
  background: white;
  font-family: Avenir;
  padding:5px;
  margin-top:100px;
  margin-right: 10px;
  font-size: 1.1rem;
  transform:translateX(25px);
  opacity:0;
  transition: all .7s .2s ease-out;
}

div p {
  letter-spacing: 1.5px;
  margin-left: 0px;
  margin-right: -5px;
  vertical-align: center;
  padding-bottom: 5px;
}

.uno {
  background-image:url('https://i.blogs.es/b5e521/sword-art-online/450_1000.jpg');
  background-size:cover;
  height: 150px;
  width:150px;
  margin:25px;
  margin-left: 250px;
  float: left;
  transition: all .5s ease;
}

.dos {
  background-image:url('https://static.comicvine.com/uploads/original/11123/111238279/6003975-7461950875-Scree.png');
  background-size:cover;
  height: 150px;
  width:150px;
  margin:25px;
  float: left;
  transition: all .5s ease;
}

.tres {
  background-image:url('https://vignette.wikia.nocookie.net/maid-dragon/images/a/a7/877519436_preview_Out2.png/revision/latest?cb=20170426213706&path-prefix=es');
  background-size:cover;
  height: 150px;
  width:150px;
  margin:25px;
  float: left;
  transition: all .5s ease;
}

.cuatro {
  background-image:url('https://i.pinimg.com/originals/c2/db/3b/c2db3bdec9a29aa1aa0015b64d93bd6d.jpg');
  background-size:cover;
  height: 150px;
  width:150px;
  margin:25px;
  float: left;
  transition: all .5s ease;
}

.cinco {
  background-image:url('https://i.pinimg.com/originals/69/dc/a5/69dca5ae9a737fe1dae1cbc426389938.jpg');
  background-size:cover;
  height: 150px;
  width:150px;
  margin:25px;
  float: left;
  transition: all .5s ease;
}

.six {
  background-image:url('https://imgur.com/09HsrBM.gif');
  background-size:cover;
  height: 150px;
  width:150px;
  margin:25px;
  margin-left: 250px;
  float: left;
  transition: all .5s ease;
}

.seven {
  background-image:url('https://imgur.com/CoM3Ncr.gif');
  background-size:cover;
  height: 150px;
  width:150px;
  margin:25px;
  margin-top: 25px;
  float: left;
  transition: all .5s ease;
}

.ocho {
  background-image:url('https://imgur.com/1Wi6p9u.gif');
  background-size:cover;
  height: 150px;
  width:150px;
  margin:25px;
  margin-top: 25px;
  float: left;
  transition: all .5s ease;
}

.ocho {
  background-image:url('https://imgur.com/1Wi6p9u.gif');
  background-size:cover;
  height: 150px;
  width:150px;
  margin:25px;
  margin-top: 25px;
  float: left;
  transition: all .5s ease;
}

.nine {
  background-image:url('https://imgur.com/zjcWIQj.gif');
  background-size:cover;
  height: 150px;
  width:150px;
  margin:25px;
  margin-top: 25px;
  float: left;
  transition: all .5s ease;
}

.ten {
  background-image:url('https://imgur.com/b5QAhiT.gif');
  background-size:cover;
  height: 150px;
  width:150px;
  margin:25px;
  margin-top: 25px;
  float: left;
  transition: all .5s ease;
}

.uno:hover {  transform: scale(1.2);
  animation: tresd .5s 1;}

.dos:hover {  transform: scale(1.2);
  animation: tresd .5s 1;}

.tres:hover {  transform: scale(1.2);
  animation: tresd .5s;}

.cuatro:hover {  transform: scale(1.2);
  animation: tresd .5s 1;}

.cinco:hover {  transform: scale(1.2);
  animation: tresd .5s 1;}

.six:hover {  transform: scale(1.2);
  animation: tresd .5s 1;}

.seven:hover {  transform: scale(1.2);
  animation: tresd .5s 1;}

.ocho:hover {  transform: scale(1.2);
  animation: tresd .5s 1;}

.nine:hover {  transform: scale(1.2);
  animation: tresd .5s 1;}

.ten:hover {  transform: scale(1.2);
  animation: tresd .5s 1;}

div:hover h4{
  opacity: 1;
  transform:translateX(15px);
}

@keyframes tresd{
  0%{
    transform: scale(1) perspective(400px) rotateY(0);
  }
  80%{
    transform: scale(1.2) perspective(400px) rotateY(-25deg);
  }
  100%{
    transform: scale(1.2) perspective(400px) rotateY(0);
  }
}

/*video youtube*/
iframe {
  padding: 20px;
  border-radius: 10px;
  border-color: #D8D8D8;
  background-color: black;
  margin-right: auto;
  margin-left: 400px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.pdf {
  text-align: center; 
  margin-right: 480px; 
  margin-left: 630px; 
  margin-bottom: 50px;
  padding: 20px; 
  border-radius: 10px; 
  border-color: #D8D8D8;
  background-color: black;
}

.tv {
  shape-rendering: block;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;  
  background-color: black;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 450px;
  margin-right: 400px;
}

/*form*/
#feedback-page{
  text-align:center;
}

#form-main{
  margin-top: 100px;
  margin-bottom: 30px;
  width:100%;
  float:left;
  padding-top:0px;
}

#form-div {
  background-color:rgba(72,72,72,0.4);
  padding-left:35px;
  padding-right:35px;
  padding-top:35px;
  padding-bottom:50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top:30px;
  margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
  color:#3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
  color:#30aed6;
  border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #3498db;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #0493bd;
}
  
.submit:hover {
  color: #3498db;
}
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
  #form-div{
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}
